<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">NodeJS</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="display: flex; flex-direction: row; margin-right: 20px; list-style-type: none;">
      <li class="nav-item" style="padding-right: 20px;">
        <a class="nav-link" href="/">Trang chủ</a>
      </li>
      <li class="nav-item" style="padding-right: 20px;">
        <a class="nav-link" href="/list-user">Danh sách người dùng </a>
      </li>
      <li class="nav-item" style="padding-right: 20px;">
        <a class="nav-link" href="/create-new-user">Thêm người dùng</a>
      </li>
      <li class="nav-item" style="padding-right: 20px;">
        <a class="nav-link" href="/list-product">Danh sách sản phẩm</a>
      </li>
      <li class="nav-item" style="padding-right: 20px;">
        <a class="nav-link" href="/add-product">Thêm sản phẩm</a>
      </li>
      <!-- <li class="nav-item" style="padding-right: 20px;">
        <a class="nav-link" href="/contact">Contact</a>
      </li> -->
      <li class="nav-item" style="padding-right: 20px;">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
